.content {
    margin-left: 20px;
}
.sidebar {
    width: 320px;
    margin-left: 10px;
}
.side2 {
    width: 320px;
    margin-left: 10px;
}
pre {
    white-space: normal;
}
.text {
    font-size: 14px;
}
.resized {
    height: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f2f5fb;
}
body {
    background-color: #f0f0f0;
}
.navbar {
    border-top: 3px solid #ef7a24;
    height: 58px;
}
input[type=text]::placeholder {
    font-size: 13px;
    color: #b4b4b4;
}

input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.box{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5)
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
}

.btn.another-style {
    width: 280px;
    height: 35px;
    display: inline-block;
    align-items: initial;
    justify-content: initial;
}
.btn.another-style2 {
    width: auto;
    height: 35px;
    display: inline-block;
    align-items: initial;
    justify-content: initial;
}

.btn img {
    margin-right: 10px;
}
.btn-facebook {
    background-color: #3b5998;
    color: white;
}
small {
    font-size: smaller;
    color: grey;
}
.contentSize {
    height: 710px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}
.hrefex {
    font-size: inherit;
    color: dodgerblue;
}
.spacer {
    margin-right: 10px;
}

.textarea-wrapper {
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

textarea:focus + .menu {
    display: flex;
}

.colorHeaderSidebar {
    background-color: #f0f0f0;
}
.dropdown-content a {
    border: none;
    padding: 5px 0;
}
.dropdown-content {
    height: 230px;
    width: 240px;
}
