body {
    background-color: #d3d6d8;
}

header {
    padding: 5px;
    background-color: white;
}

.form {
    padding: 24px;
}

.google {
    margin: 4px;
}

.github {
    margin: 4px;
}

.facebook {
    margin: 4px;
}

.vk {
    margin: 4px;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;
    width:300px;    //Specify your width here
}
.email-form {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}
.login-regis {
    margin-top: 10px;
}